body {
    animation-name: changing;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    color: antiquewhite;
}

@keyframes changing {
    0%{
        background-image: url(assets/img1.jpg);
    }
    40%{
        background-image: url(assets/img2.jpg);
        
    }
    
    75%{
        background-image: url(assets/img3.jpg);
        
    }
    100%{
        background-image: url(assets/img1.jpg);
    }
}



.grid {
    display: grid;
    grid-template-columns: auto auto;
}
.main {
    grid-column-start: 1;
    grid-column-end: 2;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.board {

    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: white;
    border-radius: 20px;
    margin-top: 200px;
    transform: translate(40%, 0%);

   
}

.board > div {
    position: relative;
    width: 180px;
    height: 180px;
    background-color: #a1a09d93;
    border: 10px solid #a1a09d93;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10rem;
    border-radius: 20px;
    
    
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    color: white;
    border-radius: 30px;
    

  }
.font {
    color: white;
}
h1 {
    position: absolute;
    left: 60%;
    transform: translate(-50%, -50%);
    
  }
